<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="AddForm">
	  <form action="add_deadline" method="post" name="login_form">
	  	<h3>form.title(class_="form-control")</h3>
	   	<h3>form.details(class_="form-control")</h3>
	   	<h3>form.date(class_="form-control")</h3>
	  	<h3>form.time(class_="form-control")</h3>
	    <p><input type="submit" class="floated" name="add event" value="Add event" />
	    <a href="#">

		  </a></p><br>
      </form>
	</div>

	  <a href="#AddForm">
	    <h3><input type="button" name="add new event" value="Add new event" /></h3>
	  </a>
</body>
</html>